Repository Team-Soup-Soup/Soup-FE, pull requests merged in 2025-03, with the labels that each got.

#19 feat: 메인 보드 항목 구현 및 라우팅
  apps/web/package.json
  apps/web/src/app/main.tsx
  apps/web/src/app/routes/HomeRoutes.tsx
  apps/web/src/app/routes/ProtectedRoutes.tsx
  apps/web/src/assets/icons/board-free-text.svg
  apps/web/src/assets/icons/board-meeting.svg
  apps/web/src/assets/icons/board-notice.svg
  apps/web/src/assets/icons/board-peer-review.svg
  apps/web/src/assets/icons/board-vote.svg
  apps/web/src/assets/icons/share-link-add.svg
  apps/web/src/assets/icons/share-link-delete.svg
  apps/web/src/assets/images/project-menu-chat.png
  apps/web/src/assets/images/project-menu-sketch.png
  apps/web/src/mocks/board.json
  apps/web/src/mocks/descriprions.json
  apps/web/src/pages/project/ui/ProjectPage.tsx
  apps/web/src/pages/project/ui/index.ts
  apps/web/src/shared/constants/day.ts
  apps/web/src/shared/constants/index.ts
  apps/web/src/shared/constants/path.ts
  apps/web/src/shared/hooks/useLoginStatus.ts
  apps/web/src/widgets/menu/ui/Sidebar.tsx
  apps/web/src/widgets/project/model/constants/board.ts
  apps/web/src/widgets/project/model/constants/index.ts
  apps/web/src/widgets/project/model/index.ts
  apps/web/src/widgets/project/style/CalendarSection.css
  apps/web/src/widgets/project/style/index.ts
  apps/web/src/widgets/project/types/board.ts
  apps/web/src/widgets/project/types/index.ts
  apps/web/src/widgets/project/ui/BoardContainer.tsx
  apps/web/src/widgets/project/ui/GroupBoardContainer.tsx
  apps/web/src/widgets/project/ui/MenuHeader.tsx
  apps/web/src/widgets/project/ui/PlanContainer.tsx
  apps/web/src/widgets/project/ui/ProjectContainer.tsx
  apps/web/src/widgets/project/ui/ProjectHeader.tsx
  apps/web/src/widgets/project/ui/ProjectMenuContainer.tsx
  apps/web/src/widgets/project/ui/RoomButtons.tsx
  apps/web/src/widgets/project/ui/ShareLinkContainer.tsx
  apps/web/src/widgets/project/ui/index.ts
  packages/config/globals.css
  pnpm-lock.yaml
Labels: ✨ Feature, Ⓦ Web

#20 refactor: 설정 모달 수정 및 회원 탈퇴 추가
  apps/web/public/icons/chevron_left.svg
  apps/web/public/icons/chevron_right.svg
  apps/web/public/icons/chevrons_left.svg
  apps/web/public/icons/chevrons_right.svg
  apps/web/public/icons/eye.svg
  apps/web/public/icons/eye_off.svg
  apps/web/public/icons/search.svg
  apps/web/public/images/withdraw_account.webp
  apps/web/src/shared/constants/modal.ts
  apps/web/src/shared/types/modal.ts
  apps/web/src/widgets/menu/ui/Sidebar.tsx
  apps/web/src/widgets/modal/ui/SettingModal.tsx
  apps/web/src/widgets/modal/ui/UpdateModal.tsx
  apps/web/src/widgets/modal/ui/index.ts
  apps/web/src/widgets/modal/ui/setting/AlarmSetting.tsx
  apps/web/src/widgets/modal/ui/setting/ProfileSetting.tsx
  apps/web/src/widgets/modal/ui/setting/SecuritySetting.tsx
  apps/web/src/widgets/modal/ui/setting/ToggleController.tsx
  apps/web/src/widgets/modal/ui/setting/WithdrawSetting.tsx
  apps/web/src/widgets/modal/ui/setting/index.ts
  packages/design-system/.storybook/main.ts
  packages/design-system/public/icons/chevron_left.svg
  packages/design-system/public/icons/chevron_right.svg
  packages/design-system/public/icons/chevrons_left.svg
  packages/design-system/public/icons/chevrons_right.svg
  packages/design-system/public/icons/eye.svg
  packages/design-system/public/icons/eye_off.svg
  packages/design-system/public/icons/search.svg
  packages/design-system/src/Input/Input.stories.tsx
  packages/design-system/src/Input/Input.tsx
  packages/design-system/src/Pagination/Pagination.tsx
Labels: ✨ Feature, 👓 Refactor, Ⓦ Web, Ⓓ Design-System

#22 feat: 게시판 뷰, 검색 기능, 프로젝트 메인 화면 레이아웃 구현
  apps/web/package.json
  apps/web/public/favicon/favicon.ico
  apps/web/src/app/routes/HomeRoutes.tsx
  apps/web/src/app/routes/ProjectBoardRoutes.tsx
  apps/web/src/app/routes/index.ts
  apps/web/src/assets/icons/comment-more.svg
  apps/web/src/features/project-board/ui/ProjectBoard.tsx
  apps/web/src/features/project-board/ui/ProjectBoardItem.tsx
  apps/web/src/features/project-board/ui/ProjectPost.tsx
  apps/web/src/features/project-board/ui/ProjectPostComment.tsx
  apps/web/src/features/project-board/ui/SearchResult.tsx
  apps/web/src/features/project-board/ui/index.ts
  apps/web/src/mocks/board-detail.json
  apps/web/src/mocks/board.json
  apps/web/src/mocks/index.ts
  apps/web/src/pages/project/ui/ProjectBoardPage.tsx
  apps/web/src/pages/project/ui/ProjectBoardPostPage.tsx
  apps/web/src/pages/project/ui/ProjectBoardSearchPage.tsx
  apps/web/src/pages/project/ui/index.ts
  apps/web/src/shared/constants/board.ts
  apps/web/src/shared/constants/index.ts
  apps/web/src/shared/constants/location.ts
  apps/web/src/shared/constants/modal.ts
  apps/web/src/shared/constants/path.ts
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useDebounce.ts
  apps/web/src/shared/hooks/useModal.ts
  apps/web/src/shared/types/board.ts
  apps/web/src/shared/types/index.ts
  apps/web/src/shared/types/location.ts
  apps/web/src/shared/ui/Breadcrumb.tsx
  apps/web/src/shared/ui/Modal.tsx
  apps/web/src/shared/ui/index.ts
  apps/web/src/shared/utils/getDate.ts
  apps/web/src/shared/utils/index.ts
  apps/web/src/shared/utils/path.ts
  apps/web/src/widgets/menu/ui/Sidebar.tsx
  apps/web/src/widgets/modal/model/constants/index.ts
  apps/web/src/widgets/modal/model/constants/text.ts
  apps/web/src/widgets/modal/model/index.ts
  apps/web/src/widgets/modal/ui/DeleteModal.tsx
  apps/web/src/widgets/modal/ui/index.ts
  apps/web/src/widgets/project-board/ui/ProjectBoardContainer.tsx
  apps/web/src/widgets/project-board/ui/ProjectBoardPostContainer.tsx
  apps/web/src/widgets/project-board/ui/ProjectBoardSearchContainer.tsx
  apps/web/src/widgets/project-board/ui/index.ts
  apps/web/src/widgets/project/model/constants/index.ts
  apps/web/src/widgets/project/types/board.ts
  apps/web/src/widgets/project/types/index.ts
  apps/web/src/widgets/project/ui/BoardContainer.tsx
  apps/web/src/widgets/project/ui/PlanContainer.tsx
  packages/design-system/src/Input/Input.tsx
  pnpm-lock.yaml
Labels: ✨ Feature, Ⓦ Web

#23 feat: 에러 페이지 생성
  apps/web/public/images/error.webp
  apps/web/public/logos/logo_onlysymbol.png
  apps/web/src/app/main.tsx
  apps/web/src/pages/error/ui/ErrorPage.tsx
  apps/web/src/pages/error/ui/index.ts
  apps/web/src/shared/constants/path.ts
  apps/web/src/widgets/menu/ui/Header.tsx
  apps/web/src/widgets/menu/ui/index.ts
Labels: ✨ Feature, Ⓦ Web

#28 feat: 프로젝트 관리 모달 생성
  apps/web/package.json
  apps/web/public/icons/chevron_down.svg
  apps/web/public/icons/chevron_up.svg
  apps/web/public/icons/minus.svg
  apps/web/public/icons/more_vertical.svg
  apps/web/public/icons/plus.svg
  apps/web/src/app/App.css
  apps/web/src/app/main.tsx
  apps/web/src/mocks/descriptions.json
  apps/web/src/mocks/index.ts
  apps/web/src/mocks/user.json
  apps/web/src/shared/constants/index.ts
  apps/web/src/shared/constants/modal.ts
  apps/web/src/shared/constants/profile.ts
  apps/web/src/shared/types/index.ts
  apps/web/src/shared/types/profile.ts
  apps/web/src/shared/ui/LevelBadge.tsx
  apps/web/src/shared/ui/Modal.tsx
  apps/web/src/shared/ui/Profile.tsx
  apps/web/src/shared/ui/index.ts
  apps/web/src/shared/utils/index.ts
  apps/web/src/shared/utils/string.ts
  apps/web/src/widgets/menu/ui/Sidebar.tsx
  apps/web/src/widgets/modal/ui/ChangeProjectModal.tsx
  apps/web/src/widgets/modal/ui/ExpulsionProjectModal.tsx
  apps/web/src/widgets/modal/ui/InviteProjectModal.tsx
  apps/web/src/widgets/modal/ui/LeaveProjectModal.tsx
  apps/web/src/widgets/modal/ui/LevelInfoModal.tsx
  apps/web/src/widgets/modal/ui/ProjectManageModal.tsx
  apps/web/src/widgets/modal/ui/ProjectMemberManageModal.tsx
  apps/web/src/widgets/modal/ui/index.ts
  apps/web/src/widgets/modal/ui/levelTable/LevelTable.tsx
  apps/web/src/widgets/project/ui/ProjectHeader.tsx
  packages/design-system/public/icons/chevron_down.svg
  packages/design-system/public/icons/chevron_up.svg
  packages/design-system/src/Select/Select.stories.tsx
  packages/design-system/src/Select/Select.tsx
  packages/design-system/src/Select/index.ts
  packages/design-system/src/Toggle/Toggle.tsx
  packages/design-system/src/assets/chevron_left.svg
  packages/design-system/src/assets/chevron_right.svg
  packages/design-system/src/assets/chevrons_left.svg
  packages/design-system/src/assets/chevrons_right.svg
  packages/design-system/src/assets/eye.svg
  packages/design-system/src/assets/eye_off.svg
  packages/design-system/src/assets/search.svg
  packages/design-system/src/index.ts
  pnpm-lock.yaml
Labels: ✨ Feature, Ⓦ Web, Ⓓ Design-System

#33 fix: daisyUI 다크모드 제거
  apps/web/src/app/App.css
Labels: 🛠️ Fix, Ⓦ Web

#34 feat : 팀 보드 기능 진입점 구현
  apps/web/src/app/routes/HomeRoutes.tsx
  apps/web/src/assets/icons/image.svg
  apps/web/src/assets/images/index.ts
  apps/web/src/assets/images/template-design.png
  apps/web/src/assets/images/template-develop.png
  apps/web/src/assets/images/template-product.png
  apps/web/src/assets/images/template-research.png
  apps/web/src/pages/group-board/ui/GroupBoardPage.tsx
  apps/web/src/pages/group-board/ui/index.ts
  apps/web/src/shared/constants/location.ts
  apps/web/src/shared/constants/modal.ts
  apps/web/src/shared/constants/path.ts
  apps/web/src/shared/ui/Breadcrumb.tsx
  apps/web/src/shared/ui/Modal.tsx
  apps/web/src/shared/ui/UserItem.tsx
  apps/web/src/shared/ui/index.ts
  apps/web/src/widgets/group-board/ui/GroupBoardContainer.tsx
  apps/web/src/widgets/group-board/ui/index.ts
  apps/web/src/widgets/modal/model/constants/index.ts
  apps/web/src/widgets/modal/model/constants/template.ts
  apps/web/src/widgets/modal/ui/CreateGroupBoardModal.tsx
  apps/web/src/widgets/modal/ui/create-post/CreateMeeting.tsx
  apps/web/src/widgets/modal/ui/index.ts
  apps/web/src/widgets/project/ui/GroupBoardContainer.tsx
  apps/web/src/widgets/project/ui/GroupBoardSection.tsx
  apps/web/src/widgets/project/ui/ProjectContainer.tsx
  apps/web/src/widgets/project/ui/index.ts
Labels: ✨ Feature, Ⓦ Web

#35 refactor : 모달 파일 구조 변경
  apps/web/src/widgets/modal/ui/AlarmModal.tsx
  apps/web/src/widgets/modal/ui/CreateGroupBoardModal.tsx
  apps/web/src/widgets/modal/ui/DeleteModal.tsx
  apps/web/src/widgets/modal/ui/LogoutModal.tsx
  apps/web/src/widgets/modal/ui/UpdateModal.tsx
  apps/web/src/widgets/modal/ui/create-post/CreatePostModal.tsx
  apps/web/src/widgets/modal/ui/create-post/index.ts
  apps/web/src/widgets/modal/ui/create-schedule/CreateScheduleModal.tsx
  apps/web/src/widgets/modal/ui/create-schedule/index.ts
  apps/web/src/widgets/modal/ui/index.ts
  apps/web/src/widgets/modal/ui/member/LevelInfoModal.tsx
  apps/web/src/widgets/modal/ui/member/LevelTable.tsx
  apps/web/src/widgets/modal/ui/member/ProjectMemberManageModal.tsx
  apps/web/src/widgets/modal/ui/member/index.ts
  apps/web/src/widgets/modal/ui/project/ChangeProjectModal.tsx
  apps/web/src/widgets/modal/ui/project/CreateProjectModal.tsx
  apps/web/src/widgets/modal/ui/project/ExpulsionProjectModal.tsx
  apps/web/src/widgets/modal/ui/project/InviteProjectModal.tsx
  apps/web/src/widgets/modal/ui/project/LeaveProjectModal.tsx
  apps/web/src/widgets/modal/ui/project/ProjectManageModal.tsx
  apps/web/src/widgets/modal/ui/project/index.ts
  apps/web/src/widgets/modal/ui/setting/SettingModal.tsx
  apps/web/src/widgets/modal/ui/setting/index.ts
Labels: 👓 Refactor, Ⓦ Web

#39 refactor: 디자인 시스템 icon 사용 변경
  apps/web/public/icons/chevron_down.svg
  apps/web/public/icons/chevron_up.svg
  apps/web/public/icons/chevrons_left.svg
  apps/web/public/icons/eye.svg
  apps/web/public/icons/eye_off.svg
  packages/design-system/custom.d.ts
  packages/design-system/package.json
  packages/design-system/public/svg/chevron_down.svg
  packages/design-system/public/svg/chevron_left.svg
  packages/design-system/public/svg/chevron_right.svg
  packages/design-system/public/svg/chevron_up.svg
  packages/design-system/public/svg/chevrons_left.svg
  packages/design-system/public/svg/chevrons_right.svg
  packages/design-system/public/svg/eye.svg
  packages/design-system/public/svg/eye_off.svg
  packages/design-system/public/svg/search.svg
  packages/design-system/src/Input/Input.tsx
  packages/design-system/src/Pagination/Pagination.tsx
  packages/design-system/src/Select/Select.tsx
  packages/design-system/src/assets/chevron_left.svg
  packages/design-system/src/assets/chevron_right.svg
  packages/design-system/src/assets/chevrons_left.svg
  packages/design-system/src/assets/chevrons_right.svg
  packages/design-system/src/assets/eye.svg
  packages/design-system/src/assets/eye_off.svg
  packages/design-system/src/assets/search.svg
  packages/design-system/src/assets/svg/ChevronDown.tsx
  packages/design-system/src/assets/svg/ChevronLeft.tsx
  packages/design-system/src/assets/svg/ChevronRight.tsx
  packages/design-system/src/assets/svg/ChevronUp.tsx
  packages/design-system/src/assets/svg/ChevronsLeft.tsx
  packages/design-system/src/assets/svg/ChevronsRight.tsx
  packages/design-system/src/assets/svg/Eye.tsx
  packages/design-system/src/assets/svg/EyeOff.tsx
  packages/design-system/src/assets/svg/Search.tsx
  packages/design-system/src/assets/svg/index.ts
  packages/design-system/tsconfig.json
  packages/design-system/tsup.config.ts
  packages/design-system/vite-env.d.ts
  packages/design-system/vite.config.ts
  pnpm-lock.yaml
Labels: 👓 Refactor, Ⓓ Design-System

#41 refactor: 모달 레이아웃 리팩토링, 모달 리팩토링 종료
  apps/web/src/features/project/ui/ExpulsionProjectModal.tsx
Labels: 👓 Refactor, Ⓦ Web
